@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #cee5d0;
  font-family: "Nunito", sans-serif;
  text-align: center;
  color: whitesmoke;
}

h1,
a,
button,
footer {
  color: #5e454b;
}

main {
  background-color: #5e454b;
}

a {
  background-color: #f3f0d7;
}

button {
  background-color: #f7d59c;
  font-family: "Nunito", sans-serif;
}
